# Crea / Presenta la forma que creas más conveniente para describir qué grado por escuela tuvo el mejor puntaje en "reading" y con ello saber que genero es el que predomina en este filtro.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

#se lee el archivo fuente
data_students=pd.read_csv("C:\\Users\\juayala\\Documents\\CursoPython\\clean_students_complete.csv")
data_students

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [2]:
# primero necesitamos obtener cual fue el mejor puntaje por grado y escuela
mejoresPuntajes = data_students.groupby(['school_name', 'grade'],as_index=False).reading_score.max().sort_values(by='reading_score',ascending=False).head(20)
mejoresPuntajes

              school_name grade  reading_score
0      Bailey High School  10th             99
1      Bailey High School  11th             99
32    Johnson High School  10th             99
33    Johnson High School  11th             99
34    Johnson High School  12th             99
35    Johnson High School   9th             99
36       Pena High School  10th             99
37       Pena High School  11th             99
38       Pena High School  12th             99
39       Pena High School   9th             99
40  Rodriguez High School  10th             99
41  Rodriguez High School  11th             99
42  Rodriguez High School  12th             99
43  Rodriguez High School   9th             99
44    Shelton High School  10th             99
45    Shelton High School  11th             99
46    Shelton High School  12th             99
47    Shelton High School   9th             99
48     Thomas High School  10th             99
49     Thomas High School  11th             99

In [3]:
# De acuerdo a la informacion anterior, el mayor puntaje de cada escuela fue de 99 
# Entonces procederemos a buscar cuantos alumnos en cada escuela obtuvieron dicha puntuacion

mejoresPuntajesxEscuela =data_students[data_students["reading_score"] == 99 ].groupby(["school_name","grade"]).agg({'Student ID': 'count', 'reading_score':'max'})
mejoresPuntajesxEscuela

                             Student ID  reading_score
school_name           grade
Bailey High School    10th           18             99
                      11th           27             99
                      12th           33             99
                      9th            36             99
Cabrera High School   10th           18             99
                      11th           13             99
                      12th           13             99
                      9th            14             99
Figueroa High School  10th           27             99
                      11th           27             99
                      12th           21             99
                      9th            24             99
Ford High School      10th           16             99
                      11th           14             99
                      12th           12             99
                      9th            17             99
Griffin High School   10th           14             99
                      11th            7             99
                      12th           12             99
                      9th            19             99
Hernandez High School 10th           28             99
                      11th           29             99
                      12th           29             99
                      9th            38             99
Holden High School    10th            3             99
                      11th            5             99
                      12th            2             99
                      9th             2             99
Huang High School     10th           25             99
                      11th           16             99
                      12th           10             99
                      9th            24             99
Johnson High School   10th           28             99
                      11th           30             99
                      12th           20             99
                      9th            36             99
Pena High School      10th            9             99
                      11th           14             99
                      12th           11             99
                      9th             7             99
Rodriguez High School 10th           23             99
                      11th           25             99
                      12th           20             99
                      9th            31             99
Shelton High School   10th           13             99
                      11th           11             99
                      12th            4             99
                      9th            21             99
Thomas High School    10th           17             99
                      11th           10             99
                      12th           11             99
                      9th            14             99
Wilson High School    10th           20             99
                      11th           25             99
                      12th           15             99
                      9th            19             99
Wright High School    10th           14             99
                      11th           15             99
                      12th           12             99
                      9th             7             99

In [18]:
#Para saber que genero predomina cambiaremos la agrupacion agregando el genero

mejoresPuntajesxEscuelaGenero = data_students[data_students["reading_score"] == 99 ].groupby(["school_name","grade","gender"]).agg({'Student ID': 'count', 'reading_score':'max'})

with pd.option_context('display.max_rows', None,'display.max_columns', None,'display.precision', 3,):
    print(mejoresPuntajesxEscuelaGenero)

                                    Student ID  reading_score
school_name           grade gender
Bailey High School    10th  F               10             99
                            M                8             99
                      11th  F               15             99
                            M               12             99
                      12th  F               13             99
                            M               20             99
                      9th   F               20             99
                            M               16             99
Cabrera High School   10th  F               10             99
                            M                8             99
                      11th  F                5             99
                            M                8             99
                      12th  F                8             99
                            M                5             99
                      9th   F                4             99
                            M               10             99
Figueroa High School  10th  F               14             99
                            M               13             99
                      11th  F               12             99
                            M               15             99
                      12th  F               12             99
                            M                9             99
                      9th   F               12             99
                            M               12             99
Ford High School      10th  F                8             99
                            M                8             99
                      11th  F               10             99
                            M                4             99
                      12th  F                6             99
                            M                6             99
                      9th   F               11             99
                            M                6             99
Griffin High School   10th  F                8             99
                            M                6             99
                      11th  F                2             99
                            M                5             99
                      12th  F                2             99
                            M               10             99
                      9th   F               10             99
                            M                9             99
Hernandez High School 10th  F               16             99
                            M               12             99
                      11th  F               13             99
                            M               16             99
                      12th  F               15             99
                            M               14             99
                      9th   F               20             99
                            M               18             99
Holden High School    10th  F                1             99
                            M                2             99
                      11th  F                5             99
                      12th  F                1             99
                            M                1             99
                      9th   M                2             99
Huang High School     10th  F               11             99
                            M               14             99
                      11th  F                5             99
                            M               11             99
                      12th  F                6             99
                            M                4             99
                      9th   F               13             99
                            M               11             99
Johnson High School   10th  F               17             99
                            M               11             99
                      11th  F               16             99
                            M               14             99
                      12th  F                9             99
                            M               11             99
                      9th   F               21             99
                            M               15             99
Pena High School      10th  F                4             99
                            M                5             99
                      11th  F                6             99
                            M                8             99
                      12th  F                3             99
                            M                8             99
                      9th   F                3             99
                            M                4             99
Rodriguez High School 10th  F                5             99
                            M               18             99
                      11th  F               13             99
                            M               12             99
                      12th  F               10             99
                            M               10             99
                      9th   F               13             99
                            M               18             99
Shelton High School   10th  F               10             99
                            M                3             99
                      11th  F                8             99
                            M                3             99
                      12th  F                2             99
                            M                2             99
                      9th   F                8             99
                            M               13             99
Thomas High School    10th  F               10             99
                            M                7             99
                      11th  F                4             99
                            M                6             99
                      12th  F                7             99
                            M                4             99
                      9th   F                6             99
                            M                8             99
Wilson High School    10th  F               12             99
                            M                8             99
                      11th  F               10             99
                            M               15             99
                      12th  F                9             99
                            M                6             99
                      9th   F               11             99
                            M                8             99
Wright High School    10th  F                6             99
                            M                8             99
                      11th  F                8             99
                            M                7             99
                      12th  F                6             99
                            M                6             99
                      9th   F                4             99
                            M                3             99

In [5]:
#Debido a que el dataframe es algo grande para mostrar podriamos guardarlo en csv para analizarlo mas a detalle
mejoresPuntajesxEscuelaGenero.to_csv("informacionXgrado.csv", header = True,index = True )